
  .recep-bill-heading{
    background: transparent;
    margin-top: 30px;
    margin-left: 10%;
  }
  
  .recep-bill-heading p{
    font-size: 27px;
    font-weight: bold;
    color:#01661b ;
  }
  
  /* Reservation Bill */
  
  .recep-bill-form{
    background: transparent;
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
  }
  
  .recep-bill-form label{
    display: inline-block;
    color:#01661b ;
    font-weight: bold;
  }
  
  .recep-bill-form input[type=text]{
    padding-top: 2px;
    height: 30px;
    padding-left: 4px;
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background-color:#E5E5E5 ;
  }
  
  .recep-bill-form input[type=submit]{
      float: right;
      background-color: #01661b;
      border: none;
      border-radius: 25px;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
  }
  
  .recep-bill-form input[type=submit]:hover{
    background-color: green;
  }
  
  .recep-bill-form input[type=text]{
    padding-top: 2px;
    height: 30px;
    padding-left: 4px;
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background-color:#E5E5E5 ;
  }
  
  .recep-bill-2 {
    background: transparent;
    margin-top: 20px;
    margin-left: 10%;
    width: 85%;
  }
  
  .recep-bill-2 label{
    display: inline-block;
    width: 160px;
    color:#01661b ;
    font-weight: bold;
    font-size:18px;
  }
  
  .recep-bill-2 input[type=text]{
      background-color: transparent;
      border: none; 
      outline:0;
  }
  
  .recep-bill-2 input[type=submit]{
      float: right;
      background-color: #01661b;
      border-radius: 25px;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 20px 10px;
      cursor: pointer;
  }
  
  .recep-bill-2 input[type=submit]:hover{
    background-color: green;
  }
  
  /* Resrvation Form */
  
  .recep-resform-right{
    width: 55.5%;
    background:#ffff;
    position: fixed;
    height: 540px;
    border-radius: 0px 25px 25px 0px;
    overflow: auto
  }
  
  /* Resrvation Form - Heading */
  
  .recep-resform-room{
    background: transparent;
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
  }
  
  .recep-resform-room table {
    padding: 2px;
    font-family: arial, sans-serif;
    width: 100%;
  }
  
  .recep-resform-room td {
    font-size: 18px;
    font-weight: bold;
    color:#01661b ;
    padding: 2px;
    text-align: left;
  }
  
  /* Reservation Form - Content */
  
  .recep-reserv-form{
    background: transparent;
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
  }
  
  .recep-reserv-form label{
    width: 200px;
    display: inline-block;
    color:#01661b ;
    font-weight: 600;
  }
  
  .recep-reserv-form input[type=text]{
    width: 300px;
    padding-top: 2px;
    height: 30px;
    padding-left: 4px;
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background-color:#E5E5E5 ;
  }
  
  .recep-reserv-form input[type=date], select{
    width: 200px;
    padding-top: 2px;
    height: 30px;
    padding-left: 4px;
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background-color:#E5E5E5 ;
  }
  
  .recep-reserv-form textarea{
      width: 76%;
      height: 170px;
      padding: 7px;
      border-radius: 10px;
      border: 1px solid #E5E5E5;
      background-color:#E5E5E5 ;
      font-size: 12px;
      outline: none;
  }
  
  /* Reservation Form - Content - KOT Details - Heading */
  
  .res-kot-detail-heading{
    background: transparent;
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
  }
  
  .res-kot-detail-heading h2{
    width: max-content;
    margin-top: 30px;
    display: inline-block;
    color: #06761F;
    border-color: white;
  }
  
  .res-kot-detail-heading button{
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    background-color: #01661b;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    cursor: pointer;
    font-size:16px;
  }
  
  .res-kot-detail-heading button:hover{
    background-color: green;
  }
  
  /* Reservation Form - Content - KOT Details */
  
  .KOT-right{
    width: 55.5%;
    background:#ffff;
    position: fixed;
    height: 540px;
    border-radius: 0px 25px 25px 0px;
    overflow: auto
  }
  
  .res-kot-details{
    background: transparent;
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
  }
  
  .res-kot-details table {
    padding: 2px;
    font-family: arial, sans-serif;
    width: 100%;
    margin-bottom:10px;
  }
  
   .res-kot-details th {
    border: 1px solid #01661b;
    padding: 5px;
    background-color: white;
    color: #01661b;
  }
  
  .res-kot-details td {
    border: 1px solid #01661b;
    background:#E5E5E5;
    font-size: 12px;
    color:black ;
    padding:5px;
    text-align: center;
  }
  
  .res-kot-details a{
    color: #01661b;
  }
  
  .res-kot-details-place-button button{
    background-color: #01661b;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size:16px;
  }
  
  .res-kot-details-place-button button:hover{
    background-color: green;
  }
  
  .recep-kot-form{
    background: transparent;
    margin-top: 40px;
    width: 100%;
  }
  
  .recep-kot-form label{
    width: 200px;
    display: inline-block;
    color:#01661b ;
    font-weight: bold;
  }
  
  .recep-kot-form textarea{
      width: 100%;
      padding: 7px;
      border-radius: 10px;
      border: 1px solid #E5E5E5;
      background-color:#E5E5E5 ;
      font-size: 12px;
      outline: none;
      resize: both;
      overflow: auto;
  }
  
  
  /* Update Button */
  
  .res-kot-details-update-button{
    margin-left: 0%;
    float: left;
    width: 45%;
  }
  
  .res-kot-details-update-button button{
    width: 100%;
    background-color: #01661b;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size:16px;
  }
  
  .res-kot-details-update-button button:hover{
    background-color: green;
  }
  
  /* Cancel Button */
  
  .res-kot-details-cancel-button{
    margin-left: 55%;
    width: 45%;
  }
  
  .res-kot-details-cancel-button button{
    width: 100%;
    background-color: red;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size:16px;
  }
  
  .res-kot-details-cancel-button button:hover{
    background-color: #F43C3C;
  }
  
  /* Close Button */
  
  .res-kot-details-close-button button{
    width: 100%;
    margin-left: 0%;
    background-color: #01661b;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size:16px;
  }
  
  .res-kot-details-close-button button:hover{
    background-color: green;
  }
  
  
  /* KOT Heading */
  
  .KOT-Heading{
    background: transparent;
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
  }
  
  .KOT-Heading label{
    display: inline-block;
    color:#01661b ;
    font-weight: bold;
  }
  
  .KOT-Heading input[type=text]{
    background-color: transparent;
    border: none; 
    outline:0;
  }
  
  .kot-form-head1{
    width: 50%;
    float: left;
  }
  
  /* KOT FORM */
  .kot-food-add-form{
    background: transparent;
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
  }
  
  .kot-food-add-form input[type=text]{
    width: 249px;
    padding-top: 2px;
    height: 30px;
    padding-left: 10px;
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background-color:#E5E5E5 ;
    font-size:16px;
  }
  
  .kot-food-add-form input[type=submit]{
      background-color: #01661b;
      border: none;
      border-radius: 25px;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      font-size:16px;
  }
  
  .kot-food-add-form input[type=submit]:hover{
    background-color: green;
  }
  
  .kot-food-add-form label{
    width: 80px;
    display: inline-block;
    color:#01661b ;
    font-weight: bold;
  }
  
  
  /* Bar Items */
  
  .sys-wrapped-col {
      margin-left:40%;
      width: 55.5%;
      margin-top: -600px;
      background:#ffff;
      position: fixed;
      height: 550px;
      border-radius: 0px 25px 25px 0px;
      overflow: auto;
    } 
  
  /* Place Order - Bar Dashboard*/
  
    .bar-dash-plus1{
      margin-top: 70px;
      margin-left: 42.5%;
    }
  
   .fa-plus-square:hover{
    color: green;
   }
  
  .bar-dash-plus1 a{
    padding-left: 16px;
    color: #01661b;
  }
  
  .bar-dash-plus1 p{
    color: #01661b;
  }
  
  /* View Order - Bar Dashboard*/
  
  .bar-dash-plus2{
      margin-top: 50px;
      margin-left: 40.5%;
    }
  
   .fa-book:hover{
    color: green;
   }
  
  .bar-dash-plus2 a{
    padding-left: 25px;
    color: #01661b;
  }
  
  .bar-dash-plus2 p{
    color: #01661b;
  }
  
  /* Add food Item - Bar Dashboard*/
  
  .bar-dash-plus3{
      margin-top: 50px;
      margin-left: 40.5%;
    }
  
   .fa-plus-square:hover{
    color: green;
   }
  
  .bar-dash-plus3 a{
    padding-left: 31px;
    color: #01661b;
  }
  
  .bar-dash-plus3 p{
    color: #01661b;
  }
  
  /* styling bar search bar */
  
  .bar-dash-search input[type=text]{
      background-color: #E5E5E5;
      width:500px;
      height:35px;
      border-radius:25px;
      border: none;
  }
  
  .bar-dash-search input[type="text"]::placeholder{   
      padding-left:20px;  
  }
            
  .bar-dash-search{
      margin-top: 70px;
      margin-left: 10%;
  }
            
  .bar-dash-search button{
      padding: 5px 10px;
      background:transparent;
      margin-right: 16px;
      font-size: 12px;
      border: none;
      cursor: pointer;
  }
  
  /*Bar Order Details */
  
  .bar-dash-order{
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
  }
  
  .bar-dash-order table {
    width: 100%;
  }
  
  .bar-dash-order tr{
    background: #E5E5E5;
    margin-bottom:10px;
  }
  
   .bar-dash-order td {
    border-bottom: 5px solid #fff;
    padding: 10px;
    text-align: left;
  }
  
  .fa-pencil-square-o:hover{
    color: green;
   }
  
  .bar-dash-order a{
    color: #01661b;
  }
   
  
   /* PUB-place a bot --------------------------------------------------*/
  .bot-add{
    width: 100px;
    margin-top: 40px;
    margin-left: 70px;
    display: inline-block;
    color: #06761F;
    border-color: white;
    padding-right: 10px;
  }
  
  .bot-form-text{
    margin-top: 35px;
    margin-left: 10px;
    text-align: center;
    background: transparent;
    width: 20%;
    border: 1px;
    border-right: justify;
    padding: 5px;
    height: 22px;
    border-radius: 20px;
    outline: none;
    font-weight:bold;
    font-size: 16px;
  }
  
  .item-adding-form{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    background-color: #e5e5e5;
    border: none;
    padding: 0px 15px 0px 15px;
    font-size: 16px;
    text-align: left;
    margin-left: 10%;
    margin-top: 30px;
    box-sizing: border-box;
    display: block;
    outline: none;
  }
  
  .User-button{
    position: absolute;
    width: 300px;
    height: 45px;
    margin-left: 10%;
    margin-top: 40px;
    background: #06761F;
    border: none;
    border-radius: 25px;
    color: white; 
    font-size: 17px;
    cursor:pointer;
    outline: none; 
  }
  
  
  .bot-details {
    margin: 8px 0px 8px 50px;
    margin-top: 200px;
    color: #06761F;
    margin-left: 10%;
  }
  
  .bot-details-text{
    margin-top: 35px;
    text-align: center;
    width: 20%;
    border: 1px rgb(95, 95, 95);
    border-right: none;
    padding: 5px;
    height: 22px;
    border-radius: 10px;
    outline: none;
    background-color: rgb(225, 222, 222);
    font-weight:bold;
  
  }
  
  .bot-table{
    width: 75%;
    height: 1%;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .bot-table th {
    border: 1px solid #06761F;
    background-color: #ffffff;
    border-collapse: collapse;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    color:#06761F;
     
  }
  
  .bot-table td {
    text-align: center;
    border: 1px solid #06761F;
    padding-top: 10px;
    width: 25px;
    padding-bottom: 10px;
    border-collapse: separate;
    background-color: #E5E5E5;
  }
  
  .fa-pencil-square-o{
    justify-content: center;
    margin-right: auto;
    text-align: center;
    color: #01661b;
    cursor: pointer;
  }
  
  .fa-fa-trash-o{
    justify-content: center;
    margin-right: auto;
    text-align: center;
    color: #01661b;
    cursor: pointer;
  }
  
  .bot-table a{
    color: #01661b;
  }
  
  .special-notes{
    margin: 8px 0px 8px 50px;
    color: #06761F;
    margin-left: 10%;
  }
  
  .BOT-snote textarea{
      width: 75%;
      height: 80px;
      border-radius: 10px;
      border: 1px solid #06761F;
      font-size: 16px;
      margin-left: 90px;
      margin-bottom: 3%;
      outline: none;
  }
  
  .send-bot-button{
    position: absolute;
    width: 250px;
    height: 45px;
    margin-left: 10%;
    margin-top: 30px;
    background: #06761F;
    border: none;
    border-radius: 25px;
    color: white; 
    font-size: 17px;
    cursor:pointer;
    outline: none; 
  }
  
  
  
  /* PUB-Place Order ---------------------------------------------------------*/
  
  .bar-add{
    width: max-content;
    margin-top: 40px;
    margin-left: 10%;
    display: inline-block;
    color: #06761F;
    border-color: white;
    padding-right: 15px;
  }
  
  
  .add-item-form{
    width: 300px;
    height:35px;
    border-radius: 20px;
    background-color: #e5e5e5;
    border: none;
    padding: 0px 15px 0px 15px;
    font-size: 16px;
    text-align: left;
    margin-left: 10%;
    margin-top: 30px;
    box-sizing: border-box;
    display: block;
    outline: none;
  }
  
  .add-item{
    position: absolute;
    width: 300px;
    height: 45px;
    margin-left: 10%;
    margin-top: 40px;
    background: #06761F;
    border: none;
    border-radius: 25px;
    color: white; 
    font-size: 17px;
    cursor:pointer;
    outline: none; 
  }
  
  
  .bar-item-details {
    margin: 8px 0px 8px 50px;
    margin-top: 180px;
    color: #06761F;
    margin-left: 10%;
  }
  
  .item-details-table{
    width: 75%;
    height: 1%;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .item-details-table th {
    border: 1px solid #06761F;
    background-color: #ffffff;
    border-collapse: collapse;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    align-content: center;
    color:#06761F;  
  }
  
  .item-details-table td {
    text-align: center;
    border: 1px solid #06761F;
    padding-top: 5px;
    width: 25px;
    padding-bottom: 5px;
    border-collapse: separate;
    background-color: #E5E5E5;
  }
  
  
  
  /* PUB-place order & bot ---------------------------------------------------*/
  
  .bot-headline{
    width: max-content;
    margin-top: 120px;
    margin-left: 10%;
    display: inline-block;
    color: #06761F;
    border-color: white;
    padding-right: 15px;
  }
  
  .place-a-bot{
    position: absolute;
    width: 210px;
    height: 40px;
    right: 15%;
    top: 3%;
    margin-left: 70px;
    margin-top: 50px;
    background: #06761F;
    border: none;
    border-radius: 25px;
    color: white; 
    font-size: 17px;
    cursor:pointer;
    outline: none; 
  }
  
  .bot-details-table{
    width: 75%;
    height: 1%;
    margin-left: 10%;
    margin-top: 26px;
  }
  
  .bot-details-table th {
    border: 1px solid #06761F;
    background-color: #ffffff;
    border-collapse: collapse;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    color:#06761F;
     
  }
  
  .bot-details-table td {
    text-align: center;
    border: 1px solid #06761F;
    padding-top: 10px;
    width: 25px;
    padding-bottom: 10px;
    border-collapse: separate;
    background-color: #E5E5E5;
  }
  
  .order-place{
    position: absolute;
    width: 75%;
    height: 48px;
    right: 15%;
    margin-left: 70px;
    margin-top: 50px;
    background: #06761F;
    border: none;
    border-radius: 25px;
    color: white; 
    font-size: 20px;
    cursor:pointer;
    outline: none; 
  }
  
  /* Bar Order Form - Content - BOT Details - Heading */
  
  .bar-bot-detail-heading{
    background: transparent;
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
  }
  
  .bar-bot-detail-heading h2{
    width: max-content;
    margin-top: 30px;
    display: inline-block;
    color: #06761F;
    border-color: white;
  }
  
  .bar-bot-detail-heading button{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    background-color: #01661b;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 14px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size:16px;
    width:200px;
  }
  
  .bar-bot-detail-heading button:hover{
    background-color: green;
  }
  
  /* Bar Order Form - Content - BOT Details */
  
  .bar-bot-details{
    background: transparent;
    margin-top: 40px;
    margin-bottom:20px;
    margin-left: 10%;
    width: 80%;
  }
  
  .bar-bot-details table {
    width: 100%;
  }
  
   .bar-bot-details th {
    border: 1px solid #01661b;
    padding-top: 5px;
    padding-bottom:5px;
    background-color: white;
    color: #01661b;
  }
  
  .bar-bot-details td {
    border: 1px solid #01661b;
    background:#E5E5E5;
    font-size: 11px;
    color:black ;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
  
  .bar-bot-details a{
    color: #01661b;
  }
  
  .bar-bot-details-place-button button{
    background-color: #01661b;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size:16px;
  }
  
  .bar-bot-details-place-button button:hover{
    background-color: green;
  }
  
  /* Update Button */
  
  .bar-bot-details-update-button{
    margin-left: 0%;
    float: left;
    width: 45%;
  }
  
  .bar-bot-details-update-button button{
    width: 100%;
    background-color: #01661b;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .bar-bot-details-update-button button:hover{
    background-color: green;
  }
  
  /* Cancel Button */
  
  .bar-bot-details-cancel-button{
    margin-left: 55%;
    width: 45%;
  }
  
  .bar-bot-details-cancel-button button{
    width: 100%;
    background-color: red;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .bar-bot-details-cancel-button button:hover{
    background-color: #F43C3C;
  }
  
  /* Close Button */
  
  .bar-bot-details-close-button button{
    width: 100%;
    margin-left:0%;
    background-color: #01661b;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .bar-bot-details-close-button button:hover{
    background-color: green;
  }
  
  
  /* PUB-Manage Bar Items------------------------------------------------ */
  
  .sys-center-col{
    float: center;
    margin-left:50px;
    margin-right: 50px;
    width: 94%;
    margin-top: -600px;
    background:white;
    position: fixed;
    height: 550px;
    border-radius: 25px 25px 25px 25px;
    overflow: auto;
  }
  
  .sys-center-col-wrapped{
    float: center;
    margin-left:50px;
    margin-right: 50px;
    width: 92.5%;
    margin-top: -600px;
    background:white;
    position: fixed;
    height: 550px;
    border-radius: 25px 25px 25px 25px;
    overflow: auto;
  }
  
  .manage-items-heading{
      font-size: 3rem;
      margin-top: 1%;
      color: #06761F;
      text-align: center;
  }
  
  
  .item-list-name{
    width: max-content;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 15%;
    display: inline-block;
    color: #06761F;
    border-color: white;
    padding-right: 15px;
  }
  
  .bar-item-table{
    width: 75%;
    height: 1%;
    table-layout: fixed;
    margin-left: 15%;
    margin-top: 20px;
    color: #06761F;
  }
  
  .bar-item-table th {
    border: 1px solid #06761F;
    background: transparent;
    border-width: 2%;
    width: 23%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 19px;
    text-align:center;
    color:#06761F;  
  }
  
  .bar-item-table td {
    border: 1px solid #06761F;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 75%;
    border-collapse: separate;
    background-color: #E5E5E5;
    text-align:center;
  }
  
  .bar-item-table a{
    color: #01661b;
  }
  
  
  /* PUB-Update BOT ------------------------------------------------------*/
  
  .BOT-no{
    width: 97px;
    margin-top: 40px;
    margin-left: 70px;
    display: inline-block;
    color: #06761F;
    border-color: white;
    padding-right: 10px;
  }
  
  .BOT-no-text{
    margin-top: 35px;
    margin-left: 1px;
    text-align: left;
    background: transparent;
    width: 20%;
    border: 1px;
    border-right: justify;
    padding: 5px;
    height: 22px;
    border-radius: 10px;
    outline: none;
    font-weight:bold;
    font-size: 17px;
  }
  
  .bot-status {
    width: 50px;
    margin-top: 40px;
    margin-left: 90px;
    font-size: 17px;
    font-weight:bold;
    display: inline-block;
    color: #06761F;
    border-color: white;
    padding-right: 10px;
  }
  
  .bot-status-text{
    width: 150px;
    height: 40px;
    margin-left: 22px;
    margin-top: 50px;
    background: #D5D5D5;
    border: none;
    border-radius: 25px;
    color: rgb(70, 69, 69); 
    font-size: 17px;
    text-align: center;
    cursor:pointer;
    outline: none; 
  }
  
  .BOT-details {
    margin: 8px 0px 8px 50px;
    margin-top: 70px;
    color: #06761F;
    margin-left: 10%;
  }
  
  .bot-table{
    width: 75%;
    height: 1%;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .bot-table th {
    border: 1px solid #06761F;
    background-color: #ffffff;
    border-collapse: collapse;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    color:#06761F;
     
  }
  
  .bot-table td {
    text-align: center;
    border: 1px solid #06761F;
    padding-top: 10px;
    width: 25px;
    padding-bottom: 10px;
    border-collapse: separate;
    background-color: #E5E5E5;
  }
  
  .bot-table a{
    color: #01661b;
  }
  
  .special-notes{
    margin: 8px 0px 8px 50px;
    color: #06761F;
    margin-left: 10%;
  }
  
  .BOT-snote textarea{
      width: 75%;
      height: 80px;
      border-radius: 10px;
      border: 1px solid #06761F;
      font-size: 16px;
      margin-left: 90px;
      margin-bottom: 3%;
      outline: none;
  }
  
  .update-bot-button{
    position: absolute;
    width: 260px;
    height: 45px;
    margin-left: 10%;
    margin-top: 30px;
    background: #06761F;
    border: none;
    border-radius: 25px;
    color: white; 
    font-size: 17px;
    cursor:pointer;
    outline: none; 
  }
  
  /* Add Bar Item */
  /* Add Bar Item-Heading */
  
  .bar-add-item{
    background: transparent;
    margin-top: 40px;
    margin-left: 10%;
    width: 90%;
  }
  
  .bar-add-item p{
     font-size: 27px;
    font-weight: bold;
    color:#01661b ;
    text-align: left;
  }
  
  /* Add Food Item-Form */
  
  .bar-add-item-form{
    background: transparent;
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
  }
  
  .bar-add-item-form label{
    display: inline-block;
    color:#01661b ;
    font-weight: bold;
  }
  
  .bar-add-item-form input[type=text], select{
    width: 250px;
    padding-top: 2px;
    height: 30px;
    padding-left: 4px;
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background-color:#E5E5E5 ;
  }
  
  .bar-add-item-form input[type=submit]{
      float: right;
      background-color: #01661b;
      border: none;
      border-radius: 25px;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
  }
  
  .bar-add-item-form input[type=submit]:hover{
    background-color: green;
  }
  
  .cus-res-place-button button{
    margin-top:20px;
    margin-left:10%;
    background-color: #01661b;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .cus-res-place-button button:hover{
    background-color: green;
  }
  
  .place-res-img{
    margin-top:30%;
    margin-left:40%;
  }
  
  /* Bar Details */
  
  
  .bar-bill-right{
    width: 55.5%;
    background:#ffff;
    position: fixed;
    height: 540px;
    border-radius: 0px 25px 25px 0px;
    overflow: auto;
  }
  
  /* Bill Heading Details */
  
  .bar-bill-date{
    background: transparent;
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
  }
  
  .bar-bill-date table {
    padding: 2px;
    font-family: arial, sans-serif;
    width: 90%;
  }
  
  .bar-bill-date td {
    font-size: 18px;
    font-weight: bold;
    color:#01661b ;
    padding: 2px;
    text-align: left;
  }
  
  .bar-bill-heading{
    background: transparent;
    margin-top: 30px;
    margin-left: 10%;
  }
  
  .bar-bill-heading p{
    font-size: 27px;
    font-weight: bold;
    color:#01661b ;
  }
  
  /* Bill Details */
  
  .bar-bill-1 {
    background: transparent;
    margin-top: 30px;
    margin-left: 10%;
    width: 90%;
  }
  
  .bar-bill-1 table {
    padding: 2px;
    font-family: arial, sans-serif;
    width: 90%;
  }
  
  .bar-bill-1 td {
    font-size: 15px;
    font-weight: bold;
    color:#01661b ;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
  }
  
  .bar-bill-2 {
    background: transparent;
    margin-top: 10px;
    margin-left: 10%;
    width: 90%;
  }
  
  .bar-bill-2 table {
    
    font-family: arial, sans-serif;
    width: 90%;
  }
  
  .bar-bill-2 td {
    background:#E5E5E5;
    font-size: 11px;
    color:black ;
    padding-left: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
  }
  
  .bar-bill-3 {
    background: transparent;
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
  }
  
  .bar-bill-3 label{
    display: inline-block;
    width: 90px;
    color:#01661b ;
    font-weight: bold;
  }
  
  .bar-bill-3 input[type=text]{
      background-color: transparent;
      border: none; 
      outline:0;
  }
  
  .bar-bill-3 input[type=submit]{
      float: right;
      background-color: #01661b;
      border-radius: 25px;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
  }
  
  .bar-bill-3 input[type=submit]:hover{
    background-color: green;
  }
  
  /* Bar Manage Food Item - Dash Button */
  
  .bar-dash-button{
    margin-top: 2%;
    width: 30%;
    margin-left: 75%;
  }
  
  .bar-dash-button input[type=submit]{
      background-color: #01661b;
      border: none;
      border-radius: 25px;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
  }
  
  .bar-dash-button input[type=submit]:hover{
    background-color: green;
  }
  
  /* Update Issues - Manager */
  
  
  .bar-issues-right{
    width: 55.5%;
    background:#ffff;
    position: fixed;
    height: 540px;
    border-radius: 0px 25px 25px 0px;
    overflow: auto
  }
  
  /* Update Issues Form - Content */
  
  .bar-issues-form{
    background: transparent;
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
  }
  
  .bar-issues-form label{
    width: 200px;
    display: inline-block;
    color:#01661b ;
    font-weight: bold;
  }
  
  .bar-issues-form input[type=text], input[type=email]{
    width: 300px;
    padding-top: 2px;
    height: 30px;
    padding-left: 4px;
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background-color:#E5E5E5 ;
  }
  
  .bar-issues-form select{
    width: 200px;
    padding-top: 2px;
    height: 30px;
    padding-left: 4px;
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background-color:#E5E5E5 ;
  }
  
  .bar-issues-form textarea{
      width: 76%;
      height: 170px;
      padding: 7px;
      border-radius: 10px;
      border: 1px solid #E5E5E5;
      background-color:#E5E5E5 ;
      font-size: 12px;
      outline: none;
  }
  
  .bar-issues-button button{
    background-color: #01661b;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .bar-issues-button button:hover{
    background-color: green;
  }
  
  /*-------admin--------*/
  
  .admin-dash-plus1{
    margin-top: 35%;
    margin-left: 40%;
  }
  
  .admin-dash-plus1 a{
    padding-left: 35px;
    color: #01661b;
  }
  
  .admin-dash-plus1 p{
    margin-top:5px;
    margin-left:5%;
    color: #01661b;
  }
  
  /* Admin Manage Users - Dash Button */
  
  .admin-dash-button{
    margin-top: 2%;
    width: 50%;
    margin-left: 75%;
  }
  
  .admin-dash-button input[type=submit]{
      background-color: #01661b;
      border: none;
      border-radius: 25px;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
  }
  
  .admin-dash-button input[type=submit]:hover{
    background-color: green;
  }
  .res-dash-plus1{
    margin-top: 10%;
    margin-left: 40%;
  }
  
  .res-dash-plus1 a{
  padding-left: 35px;
  color: #01661b;
  }
  
  .res-dash-plus1 p{
  color: #01661b;
  }